<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
</head>
<body>
    <div>
        <h1><a href="/">Song List</a> </h1>
        <p>Song list under categories</p>
    </div>

    <div>
        <h2>Country Songs</h2>
    </div>

    {% for songs in country_songs %}
        <div>
            <h3><a href="">{{ songs.album_title }}</a> </h3>
            <p>{{ songs.artist|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
        <h2>K-pop Songs</h2>
    </div>

    {% for kpsongs in kpop_songs %}
        <div>
            <h3><a href="">{{ kpsongs.album_title }}</a> </h3>
            <p>{{ kpsongs.artist|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
        <h2>Pop Songs</h2>
    </div>

    {% for popsongs in pop_songs %}
        <div>
            <h3><a href="">{{ popsongs.album_title }}</a> </h3>
            <p>{{ popsongs.artist|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
        <h2>Rap Songs</h2>
    </div>

    {% for rapsongs in rap_songs %}
        <div>
            <h3><a href="">{{ rapsongs.album_title }}</a> </h3>
            <p>{{ rapsongs.artist|linebreaksbr }}</p>
        </div>
    {% endfor %}

</body>
</html>